*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
 
/* NavBar*/

header{
    height:90px;
    display:flex;
    justify-content: space-around;
    align-items: center;
    text-transform:uppercase;
}
ul{
    list-style-type:none;
}
a{
    text-decoration: none;
    color:black;
}
ul li{
    display:inline;
    font-size: 16px;
    font-weight: 300;
    padding:10px;

}
header h1 span{
    color:orange;
    font-weight: 100;
}

/* Showcase */
.showcase{
    background:#e4d4d4;
}
.container{
    width:90%;
    margin:0 0 0 auto;
    display:flex;
    justify-content: center;
}
.main-text{
    padding-top:50px;
}
.main-text p{
    padding:20px 0;
    text-transform: uppercase;
}
.main-text p span{
    background:#ee5914;
    color:#fff;
    padding:2px 4px;
    border-radius: 4px;
}
.deliver-image{
    width:750px;
    background:red;
    height:300px;
}
img{
    width:500px;
}