*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    font-family:arial, Helvetica;
}
 
/* NavBar*/

header{
    height:90px;
    display:flex;
    justify-content: space-around;
    align-items: center;
    padding-top:10px;
    text-transform:uppercase;
}
header h1{
    font-size:25px;
}
ul{
    list-style-type:none;
}
a{
    text-decoration: none;
    color:black;
}
ul li{
    display:inline;
    font-size: 14px;
    font-weight: 300;
    padding:0 10px;

}
header h1 span{
    color:orange;
    font-weight: 100;
}


/* Showcase */
.showcase{
    background:#f5f1f0;
}
.container{
    width:90%;
    margin:0 0 0 auto;
    padding:20px;
    display:flex;
    justify-content: start;
}
.main-text{
    padding-top:30px;
    width:440px;
}
.main-text p{
    padding-top:60px;
    padding-bottom:15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size:12px;
    font-weight: 240;
}
.main-text p span{
    background:#ee5914;
    color:#fff;
    padding:3px 5px;
    border-radius: 4px;
}
.main-text h1{
    font-size:56px;
    padding:15px 0;
    font-weight:540;
    letter-spacing: 1px;
}
img{
    width:520px;
    margin-top:0;
}
button{
    margin-top:20px;
    background:#f55c15;
    padding:10px 22px;
    border:none;
    border-radius: 5px;
    color:#fff;
    font-size:11px;
    letter-spacing: 1px;
    font-weight: 100;
    text-transform: uppercase;

}